# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Environment variables
# .env

# Directory for user-uploaded files
backend/public/uploads/

# Dependency directories
backend/node_modules/
frontend/node_modules/

# Build directories
frontend/dist/
frontend/build/

# Docker
docker-compose.override.yml
#Dockerfile

# VS Code
.vscode/

# MacOS
.DS_Store

# Other
.idea/
*.swp
*.swo